In [1]:
import numpy as np
import pandas as pd

In [2]:
tab = pd.read_csv('adult.data.csv')
tab.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

## Question 01. 
How many people of each race are represented in this dataset? This should be a series with race names as the index labels. (race column)

In [40]:
q1 = tab['race'].value_counts()
q1

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

## Question 02
What is the average age of men?

In [38]:
q2a = tab.loc[tab['sex'] == 'Male', 'age']
q2 = round(q2a.sum() / len(q2a), 1)
q2

39.4

## Question 03
What is the percentage of people who have a Bachelor's degree?

In [37]:
q3a = round(len(tab[tab['education'] == 'Bachelors']) / len(tab) * 100, 1)
q3a

16.4

## Question 04
What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [28]:
all_adv_ed = tab.loc[((tab['education'] == 'Bachelors') | (tab['education'] == 'Masters') | (tab['education'] == 'Doctorate'))]
q4 = tab.loc[((tab['education'] == 'Bachelors') | (tab['education'] == 'Masters') | (tab['education'] == 'Doctorate')) & (tab['salary'] == '>50K')]
q4a = round(len(q4) / len(all_adv_ed) * 100, 1)
q4a

46.5

## Question 05
What percentage of people without advanced education make more than 50K?

In [29]:
all_low_ed = tab.loc[~((tab['education'] == 'Bachelors') | (tab['education'] == 'Masters') | (tab['education'] == 'Doctorate'))]
q5a = tab.loc[(~((tab['education'] == 'Bachelors') | (tab['education'] == 'Masters') | (tab['education'] == 'Doctorate'))) & (tab['salary'] == '>50K')]
q5 = round(len(q5a) / len(all_low_ed) * 100, 1)
q5

17.4

## Question 06
What is the minimum number of hours a person works per week?

In [147]:
q6 = tab['hours-per-week'].min()
q6

1

## Question 07
What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [35]:
all_low = tab.loc[tab['hours-per-week'] == 1]
q7 = int(len(tab.loc[(tab['hours-per-week'] == 1) & (tab['salary'] == '>50K')]) / len(all_low) * 100)
q7

10

## Question 08
What country has the highest percentage of people that earn >50K and what is that percentage?

In [15]:
q8a = tab.loc[tab['salary'] == '>50K', 'native-country'].value_counts()
q8a.index[0]

'United-States'

In [36]:
q8 = round(q8a.max() / q8a.sum() * 100, 1)
q8

91.5

## Question 09
Identify the most popular occupation for those who earn >50K in India.

In [17]:
q9 = tab.loc[(tab['native-country'] == 'India') & (tab['salary'] == '>50K'), 'occupation'].value_counts().index[0]
q9

'Prof-specialty'